{% extends 'base.html' %}


{% block content %}
  <h1>Home</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ad accusantium omnis numquam amet iure optio quisquam dolores officiis, nisi hic quae esse perferendis fugit sequi adipisci non soluta eius eum tempora! Perspiciatis possimus dolores, quisquam odio repudiandae non tempore eveniet sunt! Fugit iure repellendus ea delectus, modi impedit quisquam nobis excepturi veniam sunt est, in recusandae libero magnam quas rem, rerum sint quos minus neque atque ipsam? Corrupti, consequuntur repellat rerum nemo voluptatem nisi error molestiae magnam ad voluptatum voluptatibus iure minima molestias blanditiis quaerat aliquam a asperiores ducimus qui alias? Veniam ipsum consectetur dolore facilis aliquid, libero atque.</p>
{% endblock %}
